<h1 class="title">Movilly</h1>
<div class="link-to-buttons">
  <%= link_to "æ³£ããŸã„ðŸ¥²", movies_path(category: :sad), class: "button" %>
  <%= link_to "ç¬‘ã„ãŸã„ðŸ˜‚", movies_path(category: :laugh), class: "button" %>
</div>
