<div id="<%= dom_id movie %>">
  <p>
    <strong>Hashed:</strong>
    <%= movie.hashed_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= movie.category %>
  </p>

</div>
